body {
  background: url("./images/pokemonWP.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Pokemon Solid", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header,
.subHeader {
  font-size: 100px;
  text-align: center;
  font-weight: 400;
  color: rgb(255, 255, 206);
  text-shadow: 10px 4px 20px rgb(0, 0, 0);
}

.header {
  margin-bottom: 0;
}

.subHeader {
  margin-top: 0;
  font-size: 50px;
  color: rgb(255, 255, 103);
}

.startBtn {
  font-family: "Pokemon Solid", sans-serif;
  font-family: "Pokemon Solid", sans-serif;
  padding: 50px 100px 40px 100px;
  margin-top: 100px;
  background-color: rgb(255, 255, 206);
  border: 6px solid #000000;
  border-radius: 20px;
  box-shadow: #000000 4px 4px 10px 0;
  color: #352000;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 75px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.startBtn:hover {
  background-color: #fff;
}

.startBtn:active {
  box-shadow: #000000 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .startBtn {
    min-width: 120px;
  }
}
